@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

#facebookIcon :hover {
  background-color: #3b5998;
  color: aliceblue;
  border-radius: "100px";
}
/* 
.topnav .search-container {
  float: right;
} */

.container {
  max-width: 90%;
}

/* Style the search box inside the navigation bar */
.searchInput {
  border: none;
  padding-top: 20px;
  margin-left: 0px;
  width: 118%;
  font-size: 17px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #777;
  color: #555;
}
@media screen and (max-width: 770px) {
  .searchInput {
    display: none;
  }
}
#logo {
  width: 100%;
}

@media screen and (max-width: 1030px) {
  #logo {
    width: 135%;
  }
}

.categoryBtn {
  background: white;
  text-align: center;
  border: none;
  cursor: pointer;
  border: 1px solid white !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.searchButton {
  float: right;
  padding: 6px 5px 0px 0px;
  margin-top: 15px;
  margin-left: 10px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.cartButton {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 10px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  display: inline;
  background-color: white;
  border-color: #fff !important;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 90%;
}

@media screen and (max-width: 600px) {
  #Category {
    display: none;
  }
  #logo {
    width: 75%;
    text-align: center;
  }
  .cartButton {
    margin-left: 0px;
    margin-top: 0px;
    align-items: center;
    padding: 0px 2px;
  }
  .searchButton {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.Category-item {
  margin-top: 1rem;
  padding-top: 27px;
  height: 90px;
  width: 87px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.categoryBtn > img {
  margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
  .Category-item {
    margin-top: 1rem;
    padding-top: 10px;
    height: 55px;
    width: 53px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
}

@media screen and (max-width: 780px) {
  #Category {
    display: none;
  }
}
.Category-item-link {
  color: gray;
  font-size: 13px;
}

.Category-item-link:hover {
  text-decoration: none;
  color: red;
}

form.example button {
  margin-top: 12px;
  float: left;
  width: 5%;
  padding: 5px;
  font-size: 17px;
  border: 0;
  cursor: pointer;
  background-color: white;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    display: none;
  }
}

/*Servieces*/

/*Slider*/

* {
  box-sizing: border-box;
}

.glider-contain {
  width: 100%;
  max-width: 997px;
  margin: 0 auto;
  font-size: 15px;
  
}
.glider-slide {
  min-height: 50px;
}
.glider-item {
  text-align: center;
  font-size: 15px;
}

.glider-contain-2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.glider-slide {
  min-height: 50px;
}
.glider-item {
  text-align: start;
}

.gliderIcon {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: -0.05em;
  font-family: Poppins, sans-serif;
}
.glider-track {
  width: 400px;
}

.glide-preBtn {
  color: #fff;
  background-color: #191464;
  border-color: #191464;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 1em;
  padding: 10px;
}

.glide-nextBtn {
  color: #fff;
  background-color: #191464;
  border-color: #191464;
  margin-top: 50px;
  font-size: 1em;
  padding: 10px;
  margin-right: 20px;
}

.quickView {
  position:absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%);
  padding-bottom: 10px; 
}

.quickView:hover {
  height: 20px;
  background-color: #181361;
  animation: QuickView 1s ease-out;
}

@keyframes QuickView {
  0% {
    opacity: 0;
    transform: translateY(-10px);
}

100% {
    opacity: 1;
    transform: translateY(0);
}
}

/*Top 10 Products*/
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  width: 40%;
  border: 0 !important;
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

.carousel{
  margin-top: 5rem; margin-bottom: 5rem ;
  width: 100%;
}

.carousel-inner .active.left {
  left: -25%;
}
\n.carousel-inner .next {
  left: 25%;
}
\n.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/*Footer*/
footer {
  background-color: #d8dce5;
  justify-content: center;
  text-align: center;
}

/*View All*/
.viewAll {
  border: none;
  border-radius: 0;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #ffffff;
  background-color: #181361;
}

/*Image hovers*/
.imageContainer {
  position: relative;
 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.imageContainer img {
  display: block;
  position: relative;
  
}
.card-img-top {
  content: url("./assets/carousel/rose-22-259x194.jpg");
}

.card > .imageContainer:hover {
  content: url("/assets/carousel/DSC04674-copy-259x259.jpg");
  position: relative;
  
}

.imageContainer .imageIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 1rem;
  height: 35px;
  width: 33px;
  color: white;
  background-color: #6c757d;
  z-index: 2;
}
.imageContainer .imageIcon:hover {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 1rem;
  height: 35px;
  width: 33px;
  color: white;
  background-color: #6c757d;
}

.imageContainer .imageCartIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 15rem;
  height: 35px;
  border: 1px solid black;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
}

.imageCartIcon {
  padding-left: 8.5px;
  padding-top: 7px;
  font-weight: 700;
}

.imageContainer .imageCartIcon .bi-bag {
  color: black;
  border-radius: 50%;
}

.imageContainer .imageCartIcon:hover {
  background-color: #181361;
}

.imageContainer .imageCartIcon .bi-bag:hover {
  color: white;
}
.card-img-top1 {
  background-image: url("./assets/carousel/58e712252d875bbc72dcbda4db8c79c36e6cd0f6-259x259.jpg");
  z-index: 1;
}

.card > .imageContainer > .card-img-top > img:hover {
  background-image: url("./assets/carousel/rose-22-259x194.jpg");
}

.product-heading {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  margin-top: 2rem;
}

.serviceIcon {
  font-size: 1.5rem;
}
.serviceIcon .fa-shipping-fast {
  text-align: center;
}

.serviceTag {
  margin-left: 2.9rem;
  color: #666666;
  font-size: 13px;
  line-height: 16px;
  font-weight: 100;
}


.catHeading{
  color: #222259; font-weight: 700; font-size: 0.9375rem
}

.catItems{
  font-size: 14px; line-height: 1.5rem;
}

.catItemLink{
  text-decoration: none !important; 
   color: #555;
}

.catItemLink:hover{
  color: #555;
}
.cat{
  padding-top: 70px; padding-left: 1rem
}

.otherCat{
  width: 25rem;
  height: 15rem;
}

