@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width:566px) {
  #limited{
    display: block;
  }
}

#facebookIcon :hover {
  background-color: #3b5998;
  color: aliceblue;
  border-radius: "100px";
}
/* 
.topnav .search-container {
  float: right;
} */

.container {
  max-width: 90%;
}

/* Style the search box inside the navigation bar */
#searchInput {
  border: none;
  padding-top: 20px;
  margin-left: 0px;
  width: 118%;
  font-size: 17px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #777;
  color: #555;
}
@media screen and (max-width: 770px) {
  #searchInput {
    display: none;
  }
}
#logo {
  width: 100%;
}

@media screen and (max-width: 1030px) {
  #logo {
    width: 135%;
  }
}

.categoryBtn {
  background: white;
  text-align: center;
  border: none;
  cursor: pointer;
  border: 1px solid white !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.headContainer{
  width: 100%;
}

.searchButton {
  float: right;
  padding: 6px 5px 0px 0px;
  margin-top: 15px;
  margin-left: 10px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.user{
  float: right;
  padding: 0px 5px 0px 0px;
  margin-top: 0px;
  margin-left: 10px;
  background: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  display:none;
}


.cartButton {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 10px;
  background: #fff;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  display: inline;
  background-color: white;
  border-color: #fff !important;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 90%;
}

.sideBartoggler{
  display: none;
}

.headerFB{
  display: none;
}

@media screen and (max-width: 600px) {
  #Category {
    display: none;
  }
  #logo {
    width: 85%;
    text-align: start;
  }
  .cartButton {
    margin-right: 0px;
    margin-top: 0px;
    align-items: left;
    padding: 0px 0px;
   
    
  }

  .cart{
    padding-right: 0 !important;
  }

  .cartButton .bi-bag{
    font-size: 22px;
  }

  .searchButton {
   display: none;
  }

  .sideBartoggler{
    display: block;
    border: none;
    cursor: pointer;
    display: inline;
    background-color: white;
    border-color: #fff !important;
  }
  

  .headContainer{
    width: 100%;
  }

  .user{

    display: block;
    margin-left: 0px;
  }

  .searchDiv{
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }


  .headerFB{
    display: block;
    margin-top: 2rem;
    margin-left: 1rem;
  }

}

.Category-item {
  margin-top: 1rem;
  padding-top: 27px;
  height: 90px;
  width: 87px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.categoryBtn > img {
  margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
  .Category-item {
    margin-top: 1rem;
    padding-top: 10px;
    height: 55px;
    width: 53px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
}

@media screen and (max-width: 780px) {
  #Category {
    display: none;
  }
}
.Category-item-link {
  color: gray;
  font-size: 13px;
}

.Category-item-link:hover {
  text-decoration: none;
  color: red;
}

form.example button {
  margin-top: 12px;
  float: left;
  width: 5%;
  padding: 5px;
  font-size: 17px;
  border: 0;
  cursor: pointer;
  background-color: white;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    display: none;
  }
}

/*Servieces*/

/*Slider*/

* {
  box-sizing: border-box;
}

.glider-contain {
  width: 100%;
  max-width: 997px;
  margin: 0 auto;
  font-size: 15px;

}
.glider-slide {
  min-height: 50px;
}
.glider-item {
  text-align: center;
  font-size: 15px;
}

.glider-contain-2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.glider-slide {
  min-height: 50px;
}
.glider-item {
  text-align: start;
}

.gliderIcon {
  margin-left: 1rem;
  align-self: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: -0.05em;
  font-family: Poppins, sans-serif;
}
.glider-track {
  width: 400px;
}

.glide-preBtn {
  color: #fff;
  background-color: #191464;
  border-color: #191464;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 1em;
  padding: 10px;
}

.glide-nextBtn {
  color: #fff;
  background-color: #191464;
  border-color: #191464;
  margin-top: 50px;
  font-size: 1em;
  padding: 10px;
  margin-right: 20px;
}

.quickView {
  position: absolute;
  left: 50%;
  bottom: 42%;
  transform: translate(-50%);
  padding-bottom: 10px;
  color: white;
  width: 100%;
  background-color: #191464;
  height: 50px;
  opacity: 0.8;
  text-align: center;
  padding-top: 13px;
  font-family: Poppins, sans-serif;

  /* display: none; */
}
.quickView:hover {
  opacity: 1;
}

.imageContainer:hover {
  /* background-color: #181361; */
  animation: QuickView 0s ease-in-out 0s;
  animation-fill-mode: backwards;
}

@keyframes QuickView {
  0% {
    opacity: 0;
    transform: translateZ(0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

/*Top 10 Products*/
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  width: 40%;
  border: 0 !important;
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */


.carousel {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.carousel-inner .active.left {
  left: -25%;
}
\n.carousel-inner .next {
  left: 25%;
}
\n.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/*Footer*/
footer {
  background-color: #d8dce5;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 566px) {
 .catHeading{
   margin-left: 40px;
 }
 .catItems{
   margin-left: 40px;
 }
 .footerFB{
  margin-left: 40px;
 }
}


/*View All*/
.viewAll {
  border: none;
  border-radius: 0;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #ffffff;
  background-color: #181361;
}

/*Image hovers*/
 .imageContainer1  .imageContainer2 .imageContainer3{
  position: relative;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 200px;
 
}





.imageContainer1 img {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
}

.imageContainer2 img {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
}

.imageContainer3 img {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
}
/* .card-img-top {
  content: url("./assets/carousel/rose-22-259x194.jpg");
}

.card > .imageContainer:hover {
  content: url("/assets/carousel/DSC04674-copy-259x259.jpg");
  position: relative;
  
} */

.imageContainer1  .imageIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 1rem;
  height: 35px;
  width: 33px;
  color: white;
  background-color: #6c757d;
  z-index: 10;
}

.imageContainer2 .imageIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 1rem;
  height: 35px;
  width: 33px;
  color: white;
  background-color: #6c757d;
  z-index: 10;
}

.imageContainer3 .imageIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 1rem;
  height: 35px;
  width: 33px;
  color: white;
  background-color: #6c757d;
  z-index: 10;
}


.imageContainer1  .imageCartIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 83%;
  height: 35px;
  border: 1px solid #6c757d;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8.5px; padding-top: 7px;
  font-weight: 700;
  
 
}



@media screen and (max-width:566px) {
  .navbar-toggler{
    margin: 0 !important;
    margin-top: 100px;
  }
}



.imageContainer2 .imageCartIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 85%;
  height: 35px;
  border: 1px solid #6c757d;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8.5px;
  padding-top: 7px;
  font-weight: 700;
  
}

.imageContainer3 .imageCartIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 85%;
  height: 35px;
  border: 1px solid #6c757d;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8.5px;
  padding-top: 7px;
  font-weight: 700;
  
}

.imageCartIcon:hover {
  display: block;
  color: white;
  z-index: 10;
  font-weight: 700;
}

.imageContainer .imageCartIcon .bi-bag {
  color: black;
  border-radius: 50%;
  font-weight: 700;
}

.imageContainer1 .imageCartIcon:hover {
  background-color: #181361;
  font-weight: 700;
}

.imageContainer2 .imageCartIcon:hover {
  background-color: #181361;
  font-weight: 700;
}

.imageContainer3 .imageCartIcon:hover {
  background-color: #181361;
  font-weight: 700;
}

.imageContainer .imageCartIcon .bi-bag:hover {
  color: white;
  font-weight: 700;
}

.product-heading {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.serviceIcon {
  font-size: 1.5rem;
}
.serviceIcon .fa-shipping-fast {
  text-align: center;
}

.serviceTag {
  margin-left: 2.9rem;
  color: #666666;
  font-size: 13px;
  line-height: 16px;
  font-weight: 100;
}

.catHeading {
  color: #222259;
  font-weight: 700;
  font-size: 0.9375rem;
}

.catItems {
  font-size: 14px;
  line-height: 1.5rem;
}

.catItemLink {
  text-decoration: none !important;
  color: #555;
}

.catItemLink:hover {
  color: #555;
}
.cat {
  padding-top: 70px;
  padding-left: 1rem;
}

.otherCat {
  width: 25rem;
  
}

/*SALE SECTION*/
#bigsale {
  margin-top: 1rem;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 8rem;
  background: #374759
    url(//sw-themes.com/porto_dummy/wp-content/uploads/2020/11/shop37_parallax1.jpg?id=226) !important;
}

@media screen and (max-width:566px) {
  #bigsale {
    height: 15rem;
  }


  .item1{
    margin-bottom: 30px;
  }

  .imageContainer .imageCartIcon{
    left: 85%;
  }
 
}

.item1 {
  font-family: Poppins, sans-serif;
  width: 100%;
  padding: 10px 10px;
  background-color: black;
  color: white;
  font-size: 1.3rem;
 
  font-weight: 700;
  letter-spacing: -0.02em;
  transform: translate(-20%);
  
}

.item2{
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 5px;
    color: #ffffff;
  
    letter-spacing: -.02em;
}


.item3{
  padding: 10px;
  color: #181361;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  
}

.viewSaleDev{
  text-align: right !important;
  width: 100%;
}



.images img{
  width: 100%;

}

.images{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-gap:5px;
}


/*Modal */
.itemName >h2>a{
  text-decoration: none; color: #555;
  font-weight: 700;
}
.modalPrice{
  font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -.02em;
    color: #222529;
    font-family: Poppins,sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;

}

.description{
  font-size: 1.1428em;
  line-height:2.6rem;
  font-weight: 600;
  letter-spacing: -.015em;
  color: #777;
  font-family: Poppins,sans-serif;
}

hr.solid {
  border-top: 1px solid #bbb;
  margin:10px 0;
}

.btnMinus{
  background: transparent;
  width: 30px;
    height: 3rem;
    border: solid 1px #e7e7e7;
    color: #222529;
    border-radius: 0;
}

.btnPlus{
  background: transparent;
  width: 30px;
    height: 3rem;
    border: solid 1px #e7e7e7;
    color: #222529;
    border-radius: 0;
    margin-right: 10px;

}

.inputBtn{
  width: 44px;
    height: 3rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 14px;
    border-radius: 0;
   border-width: 1px 1px 1px 1px; 
    border-color: #e7e7e7;
   
}

.single_add_to_cart_button {
  background: #222529;
  color: white;
  font-family: Poppins,sans-serif;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  letter-spacing: 0.1rem;

}
.single_add_to_cart_button:hover{
  background-color: #181361;
}

.product-summary-wrap .single_add_to_cart_button {
  margin: 0 4px 5px 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}


.facebookIcon{
  position: absolute;
  
  height: 35px;
  border: 1px solid #777;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 7px;
  font-weight: 700;
  
 
}

.facebookIcon:hover{
  background-color: #3b5a9a;
  color: white;
}

.twiterIcon{
  position: absolute;

  left: 3.5rem;
  height: 35px;
  border: 1px solid #777;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8px;
  padding-top: 7px;
  font-weight: 700;
}

.twiterIcon:hover{
  background-color: #1aa9e1;
  color: white;
}

.linkdinIcon{
  position: absolute;

  left: 6.0rem;
  height: 35px;
  border: 1px solid #777;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8px;
  padding-top: 7px;
  font-weight: 700;
}

.linkdinIcon:hover{
  background-color: #0073b2;
  color: white;
}

.googleplusIcon{
  position: absolute;

  left: 8.5rem;
  height: 35px;
  border: 1px solid #777;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8px;
  padding-top: 7px;
  font-weight: 700;
}

.googleplusIcon:hover{
  background-color: #dd4b39;
  color: white;
}

.gmailIcon{
  position: absolute;

  left: 11.0rem;
  height: 35px;
  border: 1px solid #777;
  width: 33px;
  color: black ;
  background-color: white;
  border-radius: 50%;
  padding-left: 8px;
  padding-top: 7px;
  font-weight: 700;
}

.gmailIcon:hover{
  background-color: #dd4b39;
  color: white;
}




.saleHeader{
  margin-top: 1rem; color: white; margin-bottom: 0.3rem;
}

@media screen and (max-width:566px){
  
.saleHeader{
  margin-top: 1rem; color: white; margin-bottom: 0.3rem;padding: 10px 20px;
}

.viewSaleDev{
  text-align: left;
  margin-top: 10px;
}


#IslandWide{
  display: none;
}



}


/*Side nav*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282e36;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  background-color: #282e36;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width:566px) {
  #limited{
    display: block;
  }
}

#facebookIcon :hover {
  background-color: #3b5998;
  color: aliceblue;
  border-radius: "100px";
}
/* 
.topnav .search-container {
  float: right;
} */

.container {
  max-width: 90%;
}

/* Style the search box inside the navigation bar */
#searchInput {
  border: none;
  padding-top: 20px;
  margin-left: 0px;
  width: 118%;
  font-size: 17px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #777;
  color: #555;
}
@media screen and (max-width: 770px) {
  #searchInput {
    display: none;
  }
}
#logo {
  width: 100%;
}

@media screen and (max-width: 1030px) {
  #logo {
    width: 135%;
  }
}

.categoryBtn {
  background: white;
  text-align: center;
  border: none;
  cursor: pointer;
  border: 1px solid white !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.headContainer{
  width: 100%;
}

.searchButton {
  float: right;
  padding: 6px 5px 0px 0px;
  margin-top: 15px;
  margin-left: 10px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.user{
  float: right;
  padding: 0px 5px 0px 0px;
  margin-top: 0px;
  margin-left: 10px;
  background: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  display:none;
}


.cartButton {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-left: 10px;
  background: #fff;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  display: inline;
  background-color: white;
  border-color: #fff !important;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 90%;
}

.sideBartoggler{
  display: none;
}

.headerFB{
  display: none;
}

@media screen and (max-width: 600px) {
  #Category {
    display: none;
  }
  #logo {
    width: 85%;
    text-align: start;
  }
  .cartButton {
    margin-right: 0px;
    margin-top: 0px;
    align-items: left;
    padding: 0px 0px;
   
    
  }

  .cart{
    padding-right: 0 !important;
  }

  .cartButton .bi-bag{
    font-size: 22px;
  }

  .searchButton {
   display: none;
  }

  .sideBartoggler{
    display: block;
    border: none;
    cursor: pointer;
    display: inline;
    background-color: white;
    border-color: #fff !important;
  }
  

  .headContainer{
    width: 100%;
  }

  .user{

    display: block;
    margin-left: 0px;
  }

  .searchDiv{
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }


  .headerFB{
    display: block;
    margin-top: 2rem;
    margin-left: 1rem;
  }

}

.Category-item {
  margin-top: 1rem;
  padding-top: 27px;
  height: 90px;
  width: 87px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.categoryBtn > img {
  margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
  .Category-item {
    margin-top: 1rem;
    padding-top: 10px;
    height: 55px;
    width: 53px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
}

@media screen and (max-width: 780px) {
  #Category {
    display: none;
  }
}
.Category-item-link {
  color: gray;
  font-size: 13px;
}

.Category-item-link:hover {
  text-decoration: none;
  color: red;
}

form.example button {
  margin-top: 12px;
  float: left;
  width: 5%;
  padding: 5px;
  font-size: 17px;
  border: 0;
  cursor: pointer;
  background-color: white;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    display: none;
  }
}

/*Servieces*/

/*Slider*/

* {
  box-sizing: border-box;
}

.glider-contain {
  width: 100%;
  max-width: 997px;
  margin: 0 auto;
  font-size: 15px;

}
.glider-slide {
  min-height: 50px;
}
.glider-item {
  text-align: center;
  font-size: 15px;
}

.glider-contain-2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.glider-slide {
  min-height: 50px;
}
.glider-item {
  text-align: start;
}

.gliderIcon {
  margin-left: 1rem;
  align-self: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: -0.05em;
  font-family: Poppins, sans-serif;
}
.glider-track {
  width: 400px;
}

.glide-preBtn {
  color: #fff;
  background-color: #191464;
  border-color: #191464;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 1em;
  padding: 10px;
}

.glide-nextBtn {
  color: #fff;
  background-color: #191464;
  border-color: #191464;
  margin-top: 50px;
  font-size: 1em;
  padding: 10px;
  margin-right: 20px;
}

.quickView {
  position: absolute;
  left: 50%;
  bottom: 42%;
  transform: translate(-50%);
  padding-bottom: 10px;
  color: white;
  width: 100%;
  background-color: #191464;
  height: 50px;
  opacity: 0.8;
  text-align: center;
  padding-top: 13px;
  font-family: Poppins, sans-serif;

  /* display: none; */
}
.quickView:hover {
  opacity: 1;
}

.imageContainer:hover {
  /* background-color: #181361; */
  animation: QuickView 0s ease-in-out 0s;
  animation-fill-mode: backwards;
}

@keyframes QuickView {
  0% {
    opacity: 0;
    transform: translateZ(0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

/*Top 10 Products*/
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  width: 40%;
  border: 0 !important;
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */


.carousel {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.carousel-inner .active.left {
  left: -25%;
}
\n.carousel-inner .next {
  left: 25%;
}
\n.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/*Footer*/
footer {
  background-color: #d8dce5;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 566px) {
 .catHeading{
   margin-left: 40px;
 }
 .catItems{
   margin-left: 40px;
 }
 .footerFB{
  margin-left: 40px;
 }
}


/*View All*/
.viewAll {
  border: none;
  border-radius: 0;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #ffffff;
  background-color: #181361;
}

/*Image hovers*/
 .imageContainer1  .imageContainer2 .imageContainer3{
  position: relative;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 200px;
 
}





.imageContainer1 img {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
}

.imageContainer2 img {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
}

.imageContainer3 img {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
}
/* .card-img-top {
  content: url("./assets/carousel/rose-22-259x194.jpg");
}

.card > .imageContainer:hover {
  content: url("/assets/carousel/DSC04674-copy-259x259.jpg");
  position: relative;
  
} */

.imageContainer1  .imageIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 1rem;
  height: 35px;
  width: 33px;
  color: white;
  background-color: #6c757d;
  z-index: 10;
}

.imageContainer2 .imageIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 1rem;
  height: 35px;
  width: 33px;
  color: white;
  background-color: #6c757d;
  z-index: 10;
}

.imageContainer3 .imageIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 1rem;
  height: 35px;
  width: 33px;
  color: white;
  background-color: #6c757d;
  z-index: 10;
}


.imageContainer1  .imageCartIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 83%;
  height: 35px;
  border: 1px solid #6c757d;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8.5px; padding-top: 7px;
  font-weight: 700;
  
 
}



@media screen and (max-width:566px) {
  .navbar-toggler{
    margin: 0 !important;
    margin-top: 100px;
  }
}



.imageContainer2 .imageCartIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 85%;
  height: 35px;
  border: 1px solid #6c757d;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8.5px;
  padding-top: 7px;
  font-weight: 700;
  
}

.imageContainer3 .imageCartIcon {
  position: absolute;
  bottom: 16rem;
  top: 1rem;
  left: 85%;
  height: 35px;
  border: 1px solid #6c757d;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8.5px;
  padding-top: 7px;
  font-weight: 700;
  
}

.imageCartIcon:hover {
  display: block;
  color: white;
  z-index: 10;
  font-weight: 700;
}

.imageContainer .imageCartIcon .bi-bag {
  color: black;
  border-radius: 50%;
  font-weight: 700;
}

.imageContainer1 .imageCartIcon:hover {
  background-color: #181361;
  font-weight: 700;
}

.imageContainer2 .imageCartIcon:hover {
  background-color: #181361;
  font-weight: 700;
}

.imageContainer3 .imageCartIcon:hover {
  background-color: #181361;
  font-weight: 700;
}

.imageContainer .imageCartIcon .bi-bag:hover {
  color: white;
  font-weight: 700;
}

.product-heading {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.serviceIcon {
  font-size: 1.5rem;
}
.serviceIcon .fa-shipping-fast {
  text-align: center;
}

.serviceTag {
  margin-left: 2.9rem;
  color: #666666;
  font-size: 13px;
  line-height: 16px;
  font-weight: 100;
}

.catHeading {
  color: #222259;
  font-weight: 700;
  font-size: 0.9375rem;
}

.catItems {
  font-size: 14px;
  line-height: 1.5rem;
}

.catItemLink {
  text-decoration: none !important;
  color: #555;
}

.catItemLink:hover {
  color: #555;
}
.cat {
  padding-top: 70px;
  padding-left: 1rem;
}

.otherCat {
  width: 25rem;
  
}

/*SALE SECTION*/
#bigsale {
  margin-top: 1rem;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 8rem;
  background: #374759
    url(//sw-themes.com/porto_dummy/wp-content/uploads/2020/11/shop37_parallax1.jpg?id=226) !important;
}

@media screen and (max-width:566px) {
  #bigsale {
    height: 15rem;
  }


  .item1{
    margin-bottom: 30px;
  }

  .imageContainer .imageCartIcon{
    left: 85%;
  }
 
}

.item1 {
  font-family: Poppins, sans-serif;
  width: 100%;
  padding: 10px 10px;
  background-color: black;
  color: white;
  font-size: 1.3rem;
 
  font-weight: 700;
  letter-spacing: -0.02em;
  transform: translate(-20%);
  
}

.item2{
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 5px;
    color: #ffffff;
  
    letter-spacing: -.02em;
}


.item3{
  padding: 10px;
  color: #181361;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  
}

.viewSaleDev{
  text-align: right !important;
  width: 100%;
}



.images img{
  width: 100%;

}

.images{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-gap:5px;
}


/*Modal */
.itemName >h2>a{
  text-decoration: none; color: #555;
  font-weight: 700;
}
.modalPrice{
  font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -.02em;
    color: #222529;
    font-family: Poppins,sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;

}

.description{
  font-size: 1.1428em;
  line-height:2.6rem;
  font-weight: 600;
  letter-spacing: -.015em;
  color: #777;
  font-family: Poppins,sans-serif;
}

hr.solid {
  border-top: 1px solid #bbb;
  margin:10px 0;
}

.btnMinus{
  background: transparent;
  width: 30px;
    height: 3rem;
    border: solid 1px #e7e7e7;
    color: #222529;
    border-radius: 0;
}

.btnPlus{
  background: transparent;
  width: 30px;
    height: 3rem;
    border: solid 1px #e7e7e7;
    color: #222529;
    border-radius: 0;
    margin-right: 10px;

}

.inputBtn{
  width: 44px;
    height: 3rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 14px;
    border-radius: 0;
   border-width: 1px 1px 1px 1px; 
    border-color: #e7e7e7;
   
}

.single_add_to_cart_button {
  background: #222529;
  color: white;
  font-family: Poppins,sans-serif;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  letter-spacing: 0.1rem;

}
.single_add_to_cart_button:hover{
  background-color: #181361;
}

.product-summary-wrap .single_add_to_cart_button {
  margin: 0 4px 5px 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}


.facebookIcon{
  position: absolute;
  
  height: 35px;
  border: 1px solid #777;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 7px;
  font-weight: 700;
  
 
}

.facebookIcon:hover{
  background-color: #3b5a9a;
  color: white;
}

.twiterIcon{
  position: absolute;

  left: 3.5rem;
  height: 35px;
  border: 1px solid #777;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8px;
  padding-top: 7px;
  font-weight: 700;
}

.twiterIcon:hover{
  background-color: #1aa9e1;
  color: white;
}

.linkdinIcon{
  position: absolute;

  left: 6.0rem;
  height: 35px;
  border: 1px solid #777;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8px;
  padding-top: 7px;
  font-weight: 700;
}

.linkdinIcon:hover{
  background-color: #0073b2;
  color: white;
}

.googleplusIcon{
  position: absolute;

  left: 8.5rem;
  height: 35px;
  border: 1px solid #777;
  width: 33px;
  color: black;
  background-color: white;
  border-radius: 50%;
  padding-left: 8px;
  padding-top: 7px;
  font-weight: 700;
}

.googleplusIcon:hover{
  background-color: #dd4b39;
  color: white;
}

.gmailIcon{
  position: absolute;

  left: 11.0rem;
  height: 35px;
  border: 1px solid #777;
  width: 33px;
  color: black ;
  background-color: white;
  border-radius: 50%;
  padding-left: 8px;
  padding-top: 7px;
  font-weight: 700;
}

.gmailIcon:hover{
  background-color: #dd4b39;
  color: white;
}




.saleHeader{
  margin-top: 1rem; color: white; margin-bottom: 0.3rem;
}

@media screen and (max-width:566px){
  
.saleHeader{
  margin-top: 1rem; color: white; margin-bottom: 0.3rem;padding: 10px 20px;
}

.viewSaleDev{
  text-align: left;
  margin-top: 10px;
}


#IslandWide{
  display: none;
}



}


/*Side nav*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282e36;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  background-color: #282e36;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


